/*Checklist: 
1. Four different kinds of buttons
2. Two different kinds of nav
3. Four different typographic treatments
4. Two different kinds of media cards
*/

html {
  font-size: 100%;
  margin-top: 0;
}

body {
    background-color: #2b2a2a;
}

.buttons {
    grid-template-rows: auto;
    padding: 2em;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

a.style1 {
    border: 2px solid #4c4c4c;
    padding: .4em 1em .4em 1em;
    text-decoration: none;
    color: rgb(189, 189, 189);
    background-color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 80%;
    color:blanchedalmond;
}
a.style1:hover, a.style1:active {
border: 2px solid #4c4c4c;
padding: .4em 1em .4em 1em;
text-decoration: none;
color: #08264d;
border-width: 3px;
border-color: rgb(17, 15, 15);
transition: 0.25s ease;
}

a.style2 {
    border: 2px solid #4c4c4c;
    padding: .4em 1em .4em 1em;
    text-decoration: none;
    color: rgb(189, 189, 189);
    border-radius: 15px;
    border-width: 3px;
    background-color: #4c4c4c;
    border-color: rgb(189, 189, 189);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 80%;
    color:aquamarine;
    background-size: 475%;
}
a.style2:hover, a.style2:active {
    border: 2px solid #4c4c4c;
    padding: .4em 1em .4em 1em;
    text-decoration: none;
    color: #2e2d2d;
    color:aquamarine;
    transition: 0.25s ease;
  }

a.style4 {
    color:azure;
}


.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
}
.container input {
    position: absolute;
    opacity: 0;
 }
.radio_class {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 100%;
 }
.container:hover input ~ .radio_class {
    background-color: #747d92;
  }
.container input:checked ~ .radio_class {
    background-color: #0e11bb;
    height: 20px;
    width: 20px;
    border-radius: 80%;
}
.container .radio_class:after {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 80%;
    background: white;
 }


.gamer_button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.gamer_button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.gamer_button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}




/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}